# See https://github.com/github/gitignore/blob/main/Node.gitignore
# See https://github.com/github/gitignore/blob/main/React.gitignore

# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
out/

# Runtime stuff
*.log

# Vite
/.vite

# Sequelize
*.migrations.*

# Uploads
uploads/

# Database
*.db
*.sqlite
*.sqlite-*
*.sqlite3
data/
backend/data/

# Misc
.DS_Store
runtimeconfig.json